<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wanderlust_test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wanderlust_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wanderlust_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AboutUsFragment"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".VisitedFragment"
            android:label="@string/app_name" />
        <activity
            android:name=".FavoritesFragment"
            android:label="@string/app_name" />
        <activity
            android:name=".ProfileFragment"
            android:label="@string/app_name" />
        <activity
            android:name=".antarctica"
            android:label="@string/app_name" />
        <activity
            android:name=".australia"
            android:label="@string/app_name" />
        <activity
            android:name=".samerica"
            android:label="@string/app_name" />
        <activity
            android:name=".namerica"
            android:label="@string/app_name" />
        <activity
            android:name=".europe"
            android:label="@string/app_name" />
        <activity
            android:name=".africa"
            android:label="@string/app_name" />
        <activity
            android:name=".asia"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/mybutton" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>